<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.cleanupdockerimages</string>
    <key>Program</key>
    <string>/Users/william/william/dk_imagecleaner/cleanup_docker_images.sh</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>7</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.user.cleanupdockerimages.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.user.cleanupdockerimages.out</string>
</dict>
</plist>
